@font-face{
    font-family: 'Zig';
    src: url(zig.regular.ttf)
}
*{
    max-width: 100%;
    max-height: 100%;
    
}
body{
  
  background-color: #585656;
  height: 100vh;
  background:linear-gradient(black, black), no-repeat url('https://wallpapercave.com/dwp1x/wp2625444.jpg') center;
  background-size: cover;
    font-family: 'Zig';
    background-blend-mode: saturation;
  }
main{height: 100vh;}
/*  === WINDOW CONTAINER PROPERTIES */

.container-window{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    margin-top: 20%;
    align-items: center;
    
}
.window{
    background-color: white;
    height: 60%;
    width: 90%;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3em;
    border: 3px solid white;
    
   
}

header{
    background-color: black;
    color: white;
    padding: 1em 1em 0.5em 1em;
    font-size: 1.6vw;
    border: 1px solid white;
    width: 100%;
    height:auto;
    min-height:fit-content;
    max-height: max-content;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    /* border-left: 3px solid rgb(255, 255, 255); */
    /* border-right: 3px solid rgb(255, 255, 255); */
  }

  #header-button{
  color: white;
  border:none;
  font-size: 1.5vw;
  background-color: black;
  font-size: 2vw;
  }

ul{
  width: 70%;
  display: flex;
  padding: 0.3em;
  font-size: 0.7em;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

nav{
  background-color: white;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  width: 100%;
  font-size: 2.5vw;
  display: flex;
  justify-content: space-between;
}
.old-oni-img{
width:1.6em;
padding: 0.2em
}


.text-Content{
  font-size: 2.5vw;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.window-subContainer{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
}

.leftborder-scrollbar{
  min-height:250%;
  width: 0.15em;
  position:relative;
  background-color: rgb(0, 0, 0);
}

.main-window-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20vh;
  text-align:left;
  margin-top: 2em;
}
.window-content{
  margin: 2em 0 0 0;
  border: 4px solid black;
  width: 60%;
  height: 50%;
  padding: 8em 2em;
  background: no-repeat url('https://media2.giphy.com/media/J6JazAkCVLId91L4yM/giphy.gif?cid=ecf05e47nhdtl9nhyeoo00xnpvkpvp21ppyigy4nwlypfcnp&rid=giphy.gif&ct=g');
}
.text-preview{
  margin-bottom: 2em;
  text-align: left;
  width:60%;
  font-size: 2vw;
  font-weight: bold;
}

.redirection-button{
  color: white;
  background-color: #000000;
  border-radius: 10em;
  font-size: 0.8em;
  font-family: 'Zig';
  padding: 0.5em 1em;
  margin: 0 0.3em;
}
.redirection-button{
  transform: size(95%);
}
/* .button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.redirection-button:hover{
  transform: scale(105%);
  transition: transform 0.5s ease;
}

.redirection-button:active{
  transform: scale(90%);
  transition: transform 0.5s ease;
}


.voidButton{
  background-color: #000000;
  border-radius: 1rem;
  color: white;
  font-size: 2em;
  position: absolute;
  width: fit-content;
  top: 40%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  bottom: 50%;
  box-shadow: 5px 5px 0px 1px white inset;
}

.voidButton.active{
  opacity: 1;
  transition: opacity 1s ease-in-out;

}

/* ==== SCROLLBAR CUSTOM */
/* width */
::-webkit-scrollbar {
  width: 1.3em;
  /* /* border: 5px solid rgb(0, 0, 0); */
  /* border-left: 1px solid black;  */

}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  background-clip: padding-box;
  /* border: 2px solid #000000; */
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-bottom: 0.2em solid black;
  border-top: 0.2em solid black;
  border-right: 0.1em solid black;
}
/* Buttons */
::-webkit-scrollbar-button:vertical:start:decrement {
  background:
      linear-gradient(120deg, #ffffff 40%, rgba(255, 255, 255, 0) 41%),
      linear-gradient(240deg, #ffffff 40%, rgba(255, 255, 255, 0) 41%),
      linear-gradient(0deg, #ffffff 30%, rgba(255, 255, 255, 0) 31%);
  background-color: #000000;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background:
      linear-gradient(300deg, #ffffff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(60deg, #ffffff 40%, rgba(255, 255, 255, 0) 41%),
      linear-gradient(180deg, #ffffff 30%, rgba(255, 255, 255, 0) 31%);
  background-color: #000000;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background:
      linear-gradient(210deg, #ffffff 40%, rgba(255, 255, 255, 0) 41%),
      linear-gradient(330deg, #ffffff 40%, rgba(255, 255, 255, 0) 41%),
      linear-gradient(90deg, #ffffff 30%, rgba(255, 255, 255, 0) 31%);
  background-color: #000000;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background:
      linear-gradient(30deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #000000;
}














/* ======== WINDOW ANIMATIONS =========*/
.reduce-reverse{
max-height: 100%;
transition: max-height 1s ease;

}

.reduce{
max-height: 0rem;
transition: max-height  1s ease;
}

.expand{
  max-height: 100%;
  transition: max-height 1s ease;
  
  }
  
  .expand-reverse{
  height: 200vh;
  width: 100%;
  }

  .expansion{
    margin-top: 0;
    width: auto;
    height: 100vh;
  }






/* TABLETTE */
 @media (min-width: 540px) {
    .window{
        background-color: rgb(215, 215, 215);
        height: 60vh;
        width: 20vh;
    }


    .text-Content{
      font-size: 2vw;
      font-weight: bold;
      letter-spacing: 0.02em;
    }
    .expand-reverse{
      height: 200vh;
      width: 100%;
      }
    
      .expansion{
        margin-top: 0;
        width: auto;
        height: 100vh;
      }
    

    .window-content{
      
      max-width: 40%;
      min-width: 40%;
      height: 30%;
    }
    
} 



/*DESKTOP */
 @media (min-width: 62rem) {
  .window{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 20vh;
}

  .reduce{
  max-height: 4vh;
  
  transition: max-height 1s ease;
  }

  .window-content{
      
    max-width: 40%;
    min-width: 40%;
    height: 30%;
  }


  .text-Content{
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 0.02em;
  }
    
  .expand-reverse{
    height: 200vh;
    width: 100%;
    }
  
    .expansion{
      margin-top: 0;
      width: auto;
      height: 100vh;
    }
  
}






